[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
langchain-google-genai = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
lxml = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.11"
